<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>
        Exercise Tracker
      </h1>
      <form action="/api/exercise/new-user" method="post">
        <h3>
          Creat a New User
        </h3>
        <p>
          <code>POST /api/exercise/new-user</code>
        </p>
        <input id="uname" type="text" name="username" placeholder="User Name">
        <input type="submit" value="submit">
     </form>
      <form action="/api/exercise/add" method="post">
        <h3>
          Add Excercise
        </h3>
        <p>
          <code>POST /api/exercise/add</code>
        </p>
        <input type="text" name="UserId" placeholder="UserId*" id="uid">
        <input type="text" name="description"  placeholder="Description" id="desc">
        <input type="text" name="duration"  placeholder="Duration" id="dur">
        <input type="text" name="date"  placeholder="Date" id="dat">
        <input type="submit" value="submit">
        
      </form>
    <p>
      <strong>GET users's exercise log:</strong><code>GET /api/exercise/log?{userId}[&from][&to][&limit]</code>
      </p>
      <p>
        <strong>{ }</strong> = required, <strong>[]</strong> = optional
      </p>
      <p>
        <strong>from, to</strong>from, to <strong>limit</strong> =number
      </p>
    </div>
    
  </body>
</html>